body{
	display:block;
	margin:10px auto;
	width:80%;
	font-family: 'Tajawal', sans-serif;
	position:relative;
}
#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%; 
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); 
	z-index: 2; 
	cursor: pointer; 
}
#overlay .result-text{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:35%;
	text-align:center;
	padding:20px;
	background-color:#333;
}
#overlay .result-text h2{
	font-size:3em;
	text-align:center;
	color:#fff;
	margin:0;
}
#overlay .result-text button{
    display:inline-block;
    margin:20px 10px 0 10px;
    border:transparent;
	font-weight:300;
	padding:10px;
	cursor:pointer;
	color:#fff;
}
#overlay .result-text button:hover{
	background-color:#5A5454;
}
#overlay .result-text .win{
   background-color:#15CE15;
}
#overlay .result-text .restart{
	background-color:#F61212;
	
}
.game{
	width:100%;
	text-align:center; 
}

.game-board{
	width:15%;
	position:absolute;
	top:20px;
	right:0;
}
.game-board .restart{
	margin-top: 20px;
	background-color:#F61212;
	border:transparent;
	font-weight:600;
	padding:10px;
	color:#fff;
	clear:both;
	float:right;
	cursor:pointer;
}
.game-board .restart:hover{
	background-color:#5A5454;
}
.game-board .score{
	text-align:center;
	background-color:#333;
	padding:15px;
	color:#fff;
}
.game h2{
	font-size:2.3em;
	font-weight:700;
	margin:0 0 20px 0;
	margin-bottom: 20px;
}
.game .player-screen{
	display:block;
	border:1px solid #000;
	width: 29%;
	padding: 10px;
	margin: 10px auto 10px;
}
.game .player-screen h2{
	font-size:1.5em;
	font-weight:300;
}
.game .player-screen .player{
	display:inline-block;
	margin:0 10px 0 10px;
	font-weight:600;
}
.game .player-screen .player:hover{
	font-size:1.3em;
	cursor:pointer;
}
#board{
	display:block;
	margin:65px auto;
	width:35%;
	height:300px;
	display:flex;
	background:transparent;
	flex-wrap: wrap;
}
#board .play-cell{
	width: 32%;
	height: 100px;
	display: inline-block;
}
#board .play-cell:hover{
	cursor:pointer;
}
#square-0, #square-1, #square-2 {
	border-bottom: 3px solid #525B76;
}
#square-1{
	border-left: 3px solid #525B76;
	border-right: 3px solid #525B76;
}
#square-4, #square-5, #square-3 {
	border-bottom: 3px solid #525B76;
}
#square-4{
	border-left: 3px solid #525B76;
	border-right: 3px solid #525B76;
}
#square-7{
	border-left: 3px solid #525B76;
	border-right: 3px solid #525B76;
}

#board .play-cell{
   text-align:center;
   font-size:4em;
   
}
